Library/
Temp/
Builds/
Logs/
UserSettings/
Assets/ALP_Assets/
Assets/TextMesh Pro/
Assets/Meshes/
Assets/VFX/
Assets/VideoAnim/
Assets/Yarnspinner/
Assets/Samples/
Assets/TerrainSampleAssets/
Assets/TerrainDemoScene_HDRP/
Assets/HDRPDefaultResources/
Assets/SceneTemplateAssets/
Assets/AddressableAssetsData/
Assets/Fantasy Skybox FREE/
Assets/Grass And Moss Decals Pack/
Assets/RealToon/
Assets/Polytope Studio/
Assets/Hovl Studio/
Assets/Materials/
*.asset
